:root {
  --blue-consob-600: #0c63b3;
  --blue-consob-800: #093a67;

  --neutro-100: #ffffff;
  --neutro-200: #d9d9d9;
  --neutro-400: #b0b0b0;
  --neutro-600: #737373;
  --body-color: #eff4fa;
  --neutro-800: #262626;
  --table-head: #eaf5fc;
  --table-row: #fafafa;
}
