
.textFieldInput {
    color: var(--neutro-600);
    flex-grow: 1;
    flex: auto;
    border-radius: 6px;
    position: relative;
    border: 1.5px solid;
    border-color: var(--neutro-200);
    font-size: 16px;
    padding: 5.5px 8px;
    transition: border-color 200ms;
    margin-top:24px;
    box-sizing: content-box;
    display: block;

}

.textFieldInput:hover {
    border-color: var(--neutro-800);
}

.fieldLabel {
    font-family: "Titillium Web", sans-serif;
    color: var(--neutro-800);
    font-size: 16px;
    font-weight: 700;
    top:-5px;
    height: 21px;
    position:absolute
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-calendar3' viewBox='0 0 16 16'%3E%3Cpath d='M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z'/%3E%3Cpath d='M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2'/%3E%3C/svg%3E");

}

input:user-invalid {
    border-color: red !important;
}

input {
    background-color: white !important;
}
