.menu-gestione {
  padding: 2rem;
  background-color:#F1F4F9;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.menu-gestione .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}

.menu-gestione .title {
  font-weight: 700;
}

.menu-gestione-table {
  margin-bottom: 1.5rem;
  border-radius: 12px;
  overflow: hidden;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end; 
  padding-top: 1rem;
}

.actions button {
  font-weight: 600;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  transition: background-color 0.2s ease-in-out;
}

.actions button:hover {
  background-color: var(--blue-consob-800);
  color: var(--neutro-100);
}
